<div class="content-section col-md-3">
   <nav id="neural_network_contents" class="navbar navbar-light bg-light">
      <div class="container">

         <a class="navbar-brand" href="{{ url_for('neural_network')}}">Neural Network</a>
     <nav class="nav nav-pills flex-column">
       <a class="nav-link" href="#item-1">Chapter 0</a>
       <nav class="nav nav-pills flex-column">
         <a class="nav-link ml-3 my-1" href="#item-1-1">Section 0.0</a>
         <a class="nav-link ml-3 my-1" href="#item-1-2">Section 0.1</a>
       </nav>
       <a class="nav-link" href="#item-2">Chapter 1</a>
       <a class="nav-link" href="#item-3">Chapter 2</a>
       <nav class="nav nav-pills flex-column">
         <a class="nav-link ml-3 my-1" href="#item-3-1">Section 2.0</a>
         <a class="nav-link ml-3 my-1" href="#item-3-2">Section 2.1</a>
       </nav>
     </nav>
     </div>
   </nav>
</div>
